/* 
    Created on : 19/07/2020, 14:38:29
    Author     : rapassos
*/
body{
    background: #F5BEBE;
    margin-left: 30px;
    margin-right: 150px;
    font-family: sans-serif
}

header{
    margin-top: 70px;
}

img{
    margin-bottom: 20px;
    width: 350px;
}

.imgPadrao{
    margin-bottom: 5px;
}

.contato{
    width: 50px;
    margin: 0px;
}
h1{
    color: red;
    font-family: serif;
}

h2{
    font-family: serif;
}

p{
    font-size: 18px;
}